<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Website <%= new Date().getFullYear() %></title>
    <link rel="stylesheet" href="/CSS/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,600&display=swap" rel="stylesheet">
<body>
    <div class="title">
        <h1>Welcome admin</h1>
    </div>
    <div class="container-name">
        <% schema.forEach((value) => { %>
            <div class="name">
                <h6>Published: <%= value.date %></h6>
                <a href="admin/delete/<%= value.id %>?admin=true">Delete</a>
                <h4>Name: <%= value.name = value.name.charAt(0).toUpperCase() + value.name.slice(1) %></h4>
            </div>
        <% }) %>
    </div>
</body>
</html>