*{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ADBCBB;
    border-radius: 3px;
    box-shadow: 0 0 10px #ADBCBB;
}

#menu > p{
    margin: 3%;
}

#links{
    align-self: flex-end;
}

#links img{
    width: 30px;
    height: 30px;
    transition: all 250ms;
}

#links a:hover img{
    opacity: 0.5;
}

.group-form{
    margin: 30px 0;
}

#name{
    border: none;
    border-bottom: 1px solid #ADBCBB;
    border: 3px;
    box-shadow: 0 0 10px #ADBCBB;
    padding: 4px;
    width: 70%;
    outline: none;
    transition: box-shadow 100ms;
}

#btn-submit{
    font-size: medium;
    color: white;
    border: none;
    background-color: #3AD424;
    border-radius: 3px;
    border-bottom: 1px solid #ADBCBB;
    padding: 3px;
    margin: 30px 60px;
    outline: none;
    cursor: pointer;
    transition: background-color 500ms, box-shadow 100ms;
}

#name:focus{
    box-shadow: 5px 5px 15px #ADBCBB;
}

#btn-submit:hover{
    background-color: #BF2E2E;
    box-shadow: 0 0 15px #ADBCBB;
}

.container-name{
    display: flex;
    flex-direction: column;
    margin: 100px 0;
}

.name{
    border-bottom: 1px solid #ADBCBB;
}